<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PokeSelect</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login" >Log in </a></li>
            </ul>
        </nav>
        <p>I'm a header</p>
    </header>

    <p>I will be on every page of the site</p>
    <main>
        {{{body}}}
    </main>
    <footer>I'm a footer</footer>



</body>

</html>