<div>
    <header>
        <h1>Draft Board</h1>
    </header>

      <form id="draftForm" action="/draft/start" method="POST">
                  <div class="mb-3">
                      <label for="pokemonBanned" class="form-label">Banned Pokemon List</label> <br>
                      <textarea id="pokemonBanned" name="pokemonBanned"></textarea>
                  </div>

                  <div class="mb-3" id="teraDiv" style="display: none"> <!-- show only when gen9 draft-->
                      <label for="teraBanned" class="form-label">Tera Banned Pokemon List</label>
                      <textarea id="teraBanned" name="teraBanned"></textarea>
                  </div>

                  <button type="submit" class="createDraft">Start Draft</button>
                </form>

</div>