<div>
    <header>
        <h1>Invite Users to Draft</h1>
    </header>

    <div id="error_container" class="d-none alert alert-danger" role="alert"></div>
    <form id="inviteForm" action="#" method="POST"> <!-- ajax -->
        <div class="mb-3">
            <label for="invites" class="form-label">Type in a username to invite the user to the draft</label> <br>
            <input type="text" id="invites" name="invites">
        </div>
        <button type="submit" class="inviteUsers">Invite Users</button>
    </form>

    <br>
    <form id="finishInvites" action="#" method="GET">
        <button type="submit" class="finishInvites">Finish Inviting Users</button>
    </form>
    <script src="../../public/js/inviteUsers.js"></script>
</div>