<div>
    <header>
        <h1>Invite Users to Draft</h1>
    </header>

    <form id="inviteForm" action="/draft/invite" method="POST">
        <div class="mb-3">
            <label for="invites" class="form-label">Type in usernames to invite to the draft, separated by a comma</label>
            <textarea id="invites" name="invites"></textarea>
        </div>
        <button type="submit" class="inviteUsers">Invite Users</button>
    </form>
</div>