<body>
    <header class="text-center">
        <h1>Welcome to PokeSelect</h1>
        <p>Draft your pokemon today.</p>
    </header>
    <div class="container">
        <div class="row justify-content-center">
            <nav class="col-12 col-md-8 col-lg-6">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a href="/signup" class="nav-link">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>
