<body>
    <header>
        <h1>Welcome to PokeSelect</h1>
        <p>Draft your pokemon today.</p>
    </header>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
        </ul>
    </nav>
</body>
</html>
