<body>
    <div class="signup-container">
        <form action="/login" method="POST">
            <h2>Log in</h2>
            <div class="input-group">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Log in</button>
        </form>
    </div>
</body>
