<div class="container d-flex justify-content-center">
    <div class="login-container w-100" style="max-width: 400px;">
        <form action="/login" method="POST" class="p-4 shadow rounded" id="signin-form">
            <h2 class="text-center mb-3">Log In</h2>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
                {{#if error}}
                    <div id="error_output" class="alert alert-danger" role="alert">
                        {{error}}
                    </div>
                {{/if}}
                <div id="error_output" class="alert alert-danger" role="alert" style="display: none;">
                    {{error}}
                </div>
            <button id="submitButton" name="submitButton" type="submit" class="btn btn-primary w-100">Log In</button>
            <div class="mt-3 text-center">
                <a href="/register" class="link-primary">Click here to register!</a>
            </div>
        </form>
    </div>
</div>
