<body>
    <header>
        <p>Welcome, {{newUser}}</p>
    </header>

    <p>I will be on every page of the site</p>
    <main>
        {{{body}}}
    </main>
    <footer>I'm a footer</footer>
</body>

