@charset "UTF-8";

html, body {
    height: 100%;
    margin: 0; 
}

body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.form-control {
    box-sizing: border-box; 
}

#teraDiv {
    display: none;
}